---
import BaseHead from '../components/BaseHead.astro';
import Footer from '../components/Footer.astro';
import Header from '../components/Header.astro';
import { SITE_DESCRIPTION, SITE_DESCRIPTION_1, SITE_DESCRIPTION_2, SITE_TITLE } from '../consts';
---

<!doctype html>
<html lang="ja">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body>
		<Header />
		<main>
			<p>{SITE_DESCRIPTION_1}</p>
			<p>{SITE_DESCRIPTION_2}</p>
		</main>
		<Footer />
	</body>
</html>
