---
import { Image } from 'astro:assets';
import type { CollectionEntry } from 'astro:content';
import BaseHead from '../components/BaseHead.astro';
import Footer from '../components/Footer.astro';
import FormattedDate from '../components/FormattedDate.astro';
import Header from '../components/Header.astro';

interface Props {
	title: string;
	pubDate: Date;
	hasToc?: boolean;
	body: string;
};

const { title, pubDate, hasToc, body } = Astro.props;

// 目次生成用
const allArray = body.split('\n');
const headerArray = [];
for (const row of allArray ? allArray : []) {
	if (row.startsWith('#')) {
		const rank = row.indexOf(' ');
		if (rank > 3) {continue;}

		headerArray.push({
			rank : rank
			,text : row.slice(rank + 1)
		});
	}
}
---
<html lang="ja">
	<head>
		<BaseHead title={title} />
		<style>
			main {
				width: calc(100% - 2em);
				max-width: 100%;
				margin: 0;
			}
			.hero-image {
				width: 100%;
			}
			.hero-image img {
				display: block;
				margin: 0 auto;
				border-radius: 12px;
				box-shadow: var(--box-shadow);
			}
			.prose {
				width: 720px;
				max-width: calc(100% - 2em);
				margin: auto;
				padding: 1em;
				color: rgb(var(--gray-dark));
			}
			.title {
				margin-bottom: 1em;
				padding: 1em 0;
				text-align: center;
				line-height: 1;
			}
			.title h1 {
				margin: 0 0 0.5em 0;
			}
			.date {
				margin-bottom: 0.5em;
				color: rgb(var(--gray));
			}
			.last-updated-on {
				font-style: italic;
			}
			.table-of-contents {

			}
			.table-of-contents a {
				display: block;
				margin-top: 5px;
				border-bottom: 1px solid rgb(var(--gray));
				font-size: var(--font-size-medium);
			}
			.h-2 {
				padding-left: 1rem;
			}
			.h-3 {
				padding-left: 2rem;
			}
		</style>
	</head>

	<body>
		<Header />
		<main>
			<article>
				<div class="prose">
					<div class="title">
						<div class="date">
							<FormattedDate date={pubDate} />
						</div>
						<h1>{title}</h1>
						<hr />
					</div>

					<div class="table-of-contents">
						{
							hasToc ?
								headerArray.map(header =>(
									<a class={'h-' + header.rank}>{header.text}</a>
								))
								: ''
						}
					</div>
				
					<slot />
				</div>
			</article>
		</main>
		<Footer />
	</body>
</html>
